---
import Markdown from '@/components/Markdown.astro';
import { Content } from '@/content/root/index.mdx';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
    <main>
        <Markdown>
            <Content />
        </Markdown>
    </main>
</Layout>
