---
export interface Props {
    href: string;
    black?: boolean;
}

const { href, black } = Astro.props;
---

<a {href} class:list={['w-[28px]', 'hover:text-accent-400', black ? 'text-black' : 'text-white']}>
    <slot />
</a>
