---
import config from '@/config';

import IconLink, { type Props as IconLinkProps } from './IconLink.astro';
import FontAwesomeIcon from './FontAwesomeIcon.astro';

type Props = Pick<IconLinkProps, 'black'>;

const { black } = Astro.props;
---

<div class="flex gap-1">
    {
        config.links.follow.map(({ href, icon }) => (
            <IconLink href={href} {black}>
                <FontAwesomeIcon variant={icon} />
            </IconLink>
        ))
    }
</div>
