---
import Markdown from '@/components/Markdown.astro';
import type { ProjectFrontmatter } from '@/types';

import Layout from './Layout.astro';

interface Props {
    frontmatter: ProjectFrontmatter;
}

const {
    frontmatter: { title },
} = Astro.props;
---

<Layout {title}>
    <Markdown>
        <a href="/projects">Projects</a>
        <h1 class="text-3xl">{title}</h1>
        <slot />
    </Markdown>
</Layout>
